h1{
    color: rgba(151, 38, 10, 0.507);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

}

p{
    color: rgb(24, 24, 26);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

img{
    border: 6px solid black;
}